In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\Nithi\Downloads\archive (3)\spam_ham_dataset.csv')

In [2]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [14]:
df.rename(columns={'label_num': 'spam'}, inplace=True)

In [15]:
df.head()

   Unnamed: 0 label                                               text  spam
0         605   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1        2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2        3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3        4685  spam  Subject: photoshop , windows , office . cheap ...     1
4        2030   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [17]:
df.drop(columns=['label', 'Unnamed: 0'], inplace=True)

In [18]:
df.head()

                                                text  spam
0  Subject: enron methanol ; meter # : 988291\r\n...     0
1  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  Subject: photoshop , windows , office . cheap ...     1
4  Subject: re : indian springs\r\nthis deal is t...     0

In [20]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train,y_test = train_test_split(df.text,df.spam, test_size =0.2)

In [23]:
x_train[:2][1735]

'Subject: enron / hpl actuals for june 23 - 25 , 2000\r\njune 23 , 2000\r\nteco tap 20 . 000 / enron ; 70 . 000 / hpl iferc\r\nls hpl lsk ic 30 . 000 / enron\r\njune 24 , 2000\r\nteco tap 50 . 000 / enron ; 50 . 000 / hpl iferc\r\njune 25 , 2000\r\nteco tap 50 . 000 / enron ; 59 . 917 / hpl iferc'

In [25]:
y_train[:4].values

array([0, 0, 0, 0], dtype=int64)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
v =  CountVectorizer()
y_train_cv = v.fit_transform(x_train.values)

In [27]:
y_train_cv.toarray()

array([[0, 6, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [2, 0, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [29]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(y_train_cv,y_train)

MultinomialNB()

In [31]:
x_test_cv = v.transform(x_test)

In [34]:
from sklearn.metrics import classification_report
y_pred = model.predict(x_test_cv)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98       709
           1       0.97      0.94      0.95       326

    accuracy                           0.97      1035
   macro avg       0.97      0.96      0.97      1035
weighted avg       0.97      0.97      0.97      1035